# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
env/

# VS Code
.vscode/

# macOS/Windows/Linux OS noise
.DS_Store
*.swp
Thumbs.db

# Node
node_modules/
.env
.env

research_data.db
.env
frontend/.env

.env
frontend/.env